apiVersion: v1
kind: Service
metadata:
  name: {{ include "tx-gateway.fullname" . }}
  labels:
    {{- include "tx-gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      name: http
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      name: metrics
    {{- end }}
  selector:
    {{- include "tx-gateway.selectorLabels" . | nindent 4 }}
  {{- if .Values.metrics.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.metrics.port }}"
    prometheus.io/path: "/metrics"
  {{- end }}
